@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
}

body{
  transition: all .3s ease;

}

@layer components {
  
  /* animation  */

 
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  } 
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  .animate-slide {
    animation: slide 15s linear infinite;
  }

  @keyframes slide {
   0%{
    transform: translateX(100%);
   }
   100%{
    transform: translateX(-100%);
   }
  }

  .sticky_header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
  
    box-shadow: 1px 2px 20px 0px black;
    box-sizing: border-box;
    background: white;
}
  .max-container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal pl-5 max-sm:p-5 outline-none py-[14px] max-sm:border-black rounded-[14px];
  }

  @layer utilities {
    .section {
      @apply w-[100%] h-[auto] mt-10 lg:px-[80px] md:px-[40px] px-[30px];
    }

    .padding {
      @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .padding-x {
      @apply sm:px-16 px-8;
    }

    .padding-y {
      @apply sm:py-24 py-12;
    }

    .padding-l {
      @apply sm:pl-16 pl-8;
    }

    .padding-r {
      @apply sm:pr-16 pr-8;
    }

    .padding-t {
      @apply sm:pt-24 pt-12;
    }

    .padding-b {
      @apply sm:pb-24 pb-12;
    }
  }
}
